@color-style: #606266;

.text_font(@color) {
  color: @color;
  font-size: 17px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;

  .center:first-child {
    display: inline-block;
  }
}
